@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Readex+Pro:wght@160..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');* { margin: 0; padding: 0; }

body {
    background: #013B69;
    font: 16px 'Roboto', sans-serif;
}

fieldset {
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 1%;
    border: 2px solid #FFF;
    border-radius: 10px;
}

fieldset legend {
    text-align: center;
    width: 50%;
}

fieldset legend img {
    width: 99%;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-radius: 10px;
}

#comecar {
    text-align: center;
    padding: 10%;
}

#btn-comecar {
    padding: 10px;
    background: transparent;
    border: 2px solid #FFF;
    color: #FFF;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
}

.pergunta {
    background: #FFF;
    border-radius: 5px;
    padding: 15px;
    display: none;
}

.pergunta p {
    border: 1px solid #CCC;
    background: #eee;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.pergunta button {
    text-align: center;
    padding: 10px;
    background: #013B69;
    border: 1px solid #FFF;
    border-radius: 10px;
    color: #fff;
}

.pergunta ul {
    list-style: none;
}

.pergunta ul li span {
    border-radius: 50%;
    background: #999;
    color: #fff;
    padding: 3px 8px 3px 8px;
}

.pergunta ul li label {
    display: block;
    margin: 5px 0 5px 0;
    border: 1px solid #000;
    border-radius: 30px;
    cursor: pointer;
    padding: 5px;
}


.pergunta ul li label input {
    width: 1px;
    height: 1px;
}

span {
    padding: 10px;
    margin-right: 5px;
}

/* li {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #CCC;
    border-radius: 30px;
    padding: 10px;
    background: #eeeeee8b;

} */


button {
    cursor: pointer;
}

.pergunta label:active {
    background: #f0f89c;
}

.pergunta label:hover {
    background: #f0f89c;
}

.pergunta label:focus {
    background: #f0f89c;
}